@import "../../scss/variables";
.HeroCard {
  box-shadow: $box-shadow-lighter;
  margin: 0 auto;
  width: $hero-card-width;
  &:hover {
    box-shadow: $box-shadow-darker;
  }
}
.heroName {
  font-size: $text-size-large;
  text-transform: uppercase;
}
.placeholder {
  background: linear-gradient(-45deg,
          $background-secondary,
          darken($background-secondary, 10),
          darken($background-secondary, 15),
          lighten($background-secondary, 10),
          lighten($background-secondary, 15));
  background-size: 800% 200%;
  animation: gradient 1s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
.emptyName {
  @extend .placeholder;
  border-radius: 24px;
  height: 32px;
  margin: 0 auto;
  position: relative;
  top: 8px;
  width: 160px;
}
.heroImage {
  margin: $margin-regular 0;
  width: $hero-card-width;
}
