.VerticalNav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}
.navItem {
  min-width: 240px;
  position: relative;
  text-align: center;
  > * {
    cursor: pointer;
  }
  &:hover {
    &::after {
      border-bottom: 4px blue inset;
      border-radius: 4px;
      bottom: -15px;
      content: ".";
      font-size: 63px;
      left: 2vw;
      line-height: 43px;
      position: absolute;
      right: 2vw;
      opacity: 0.25;
    }
  }
}
.navItemDisabled {
  color: blue;
  > *  {
    cursor: default;
  }
  &:hover {
    &::after {
      content: none;
    }
  }
  opacity: 0.5;
}
.navSelected {
  &::before {
    border-bottom: 4px blue inset;
    border-radius: 4px;
    bottom: -15px;
    content: ".";
    font-size: 63px;
    left: 2vw;
    line-height: 43px;
    position: absolute;
    right: 2vw;
  }
  color: blue;
    > *  {
      cursor: default;
  }
}