@import '../../scss/variables';
.VerticalNav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}
.navItem {
     min-width: 240px;
     position: relative;
     text-align: center;
     > * {
       cursor: pointer;
     }
  &::before {
    border-bottom: 4px $color-bg-primary inset;
    border-radius: 4px;
    bottom: -15px;
    color: $color-text-secondary;
    content: ".";
    font-size: 77px;
    left: 2vw;
    line-height: 43px;
    opacity: 0;
    position: absolute;
    right: 2vw;
    transition: all 1s;
    z-index: -1;
  }
  &::after {
    border-bottom: 4px $color-bg-primary inset;
    border-radius: 4px;
    bottom: -15px;
    color: $color-text-secondary;
    content: ".";
    font-size: 77px;
    left: 2vw;
    line-height: 43px;
    position: absolute;
    right: 2vw;
    opacity: 0;
    transition: all 1s;
    z-index: -1;
  }
  &:hover {
    &::after {
      opacity: 0.25;
    }
  }
}
.navItemDisabled {
  > *  {
    cursor: default;
  }
  &:hover {
    &::after {
      content: none;
    }
  }
  opacity: 0.5;
}
.navSelected {
  &::before {
    opacity: 1;
  }
  color: $color-text-secondary;
  > *  {
      cursor: default;
  }
}
@media (max-width: 768px) {
  .navItem {
    min-width: 120px;
  }
}