.globalApp {
  min-height: 100vh;
  min-width: 100vw;
}
.globalContainer {
  display: flex;
  flex-direction: column;
  padding: 6vw;
}
.heroCardsHolder {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
.heroCardHolder {
  flex: 1;
  margin: 10px 0;
  text-align: center;
}

@media (max-width: 768px) {
  .globalContainer {
  }
  .heroCardsHolder {
    display: flex;
    flex-direction: column;
  }
}