@import "./variables";
html,
body,
#root {
  min-height: 100vh;
  margin: 0;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: all 0s;
}
body {
  background: $background-primary;
  background-size: 200% 200%;
  animation: gradient 5s ease infinite;
  color: $color-text-primary;
}

@keyframes gradient {
  0% {
    background-position: 0 50%;
  }
  40% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
* {
  box-sizing: border-box;
  transition: all 1s;
  // Used to prevent annoying cursor on page
  user-select: none;
}

.pageTitle {
  margin: 0 auto;
}
.pageButton {
  margin: auto 0 0 auto;
  padding: 32px;
  button {
    background-color: rgba($color-bg-primary, 0.5);
    border-radius: 12px;
    border: 4px solid lighten($color-bg-primary, 20%);
    color: $color-text-white;
    font-size: $text-size-large;
    height: 48px;
    min-width: 96px;
    &:disabled {
      opacity: 0.25;
    }
  }
}

.rangeslider-horizontal {
  * {
    transition: all 0s;
  }
  .rangeslider__fill {
    background-color: $color-bg-primary!important;
  }
}

@media (max-width: 768px) {
  .pageButton {
    background-color: lighten($background-secondary, 35);
    margin: $margin-regular auto 0;
    padding: 32px;
    position: sticky;
    text-align: center;
    width: 100%;
  }
}
