//COLORS
$background-primary: linear-gradient(-45deg, #fff, #eee, #ddd, #ccc, #ccc, #ddd, #eee, #fff, #bbb, #fff);
$background-secondary: #6c757d;

$box-shadow-darker: 1px 1px 20px 2px rgba(128,128,128,0.75);
$box-shadow-lighter: 1px 1px 20px 2px rgba(192,192,192,0.75);

$color-bg-primary: #007bff;
$color-primary-button-background: #365dcd;
$color-text-primary: #6c757d;
$color-text-secondary: #007bff;
$color-text-white: #ffffff;
$color-white: #ffffff;

//MISC
$hero-card-width: 240px;
$margin-regular: 24px;
$text-size-large: 24px;